{% extends "bootstrap/base.html" %}

{% block title %}
  Display Text
{% endblock %}

{% block content %}
  <div class="text-center" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
    <form method="POST" action="/flask/display" class="form-inline mx-auto">
      <div class="form-group mb-2">
        <label for="text" class="sr-only">Enter some text:</label>
        <input type="text" name="text" id="text" class="form-control" placeholder="Enter some text">
      </div>
      <button type="submit" class="btn btn-primary mb-2 ml-2">Submit</button>
    </form>
  </div>
{% endblock %}
