{% extends "bootstrap/base.html" %}

{% block title %}
  ChatGPT Output
{% endblock %}

{% block content %}
    <div class="text-center my-5" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <h2>Input Text</h2>
        <p>{{ input_text }}</p>

        <h2>ChatGPT Response</h2>
        <p>{{ chatgpt_output }}</p>
        <div class="d-flex justify-content-center">
            <form action="/flask/display" method="get">
                <button type="submit" class="btn btn-primary">Go Back</button>
            
            </form>
            <a href="https://www.amazon.jp/hz/wishlist/ls/3I9I0ABLPKM42?ref_=wl_share" class="text-primary">実験的ページへ</a>
            
        </div>
    </div>
{% endblock %}
